.footer {
	background-color:  $green;
	color: #eee;
	position: relative;
	padding: 2em 0 0;
	& a {
		color: #fff;
	}
	@media (min-width: $break-small) {
		padding: 3em 0 0;
	}
}
/* logo
----------------------------------------------------*/
.footer-logo img {
	display: block;
	margin: 0 auto;
	@media (min-width: $break-small) {
		display: inline-block;
		margin: 0;
	}
}

/* address
----------------------------------------------------*/
.footer-address {
	margin-top: .5em;
}
.footer-address p {
	font-size: 16px;
	line-height: 1.3;
	@media (min-width: $break-small) {
		float: left;
		width: 45%;
		margin: 0;
		margin-right: 5%;
	}
}

/* Donate
----------------------------------------------------*/
.donate {
	border-bottom: 1px solid rgba(255,255,255,.6);
	padding: 0 0 15px;
	@media (min-width: $break-small) and (max-width: $break-medium) {
		margin-top: 1.5em;
	}
}
.footer .donate-btn {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	margin: 1em 0;
	padding: 5px 30px;
	border: 1px solid #fff;
	border-radius: 1px;
	text-decoration: none;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	&:hover, &:focus {
		background-color: darken($green,10%);
	}
	@media (min-width: 550px) {
		float: left;
		display: inline-block;
		margin: 0;
	}
	@media (min-width: $break-medium) {
		display: block;
		float: none;
	}
	@media (min-width: 935px) {
		float: left;
		display: inline-block;
		margin: 0;
	}
}
.donate h4 {
	margin: 0;
	font-size: 28px;
	color: #fff;
	font-weight: normal;
	@media (min-width: 550px) {
		float: left;
		margin-left: 20px;
	}
	@media (min-width: $break-medium) {
		margin-left: 0;
		float: none;
	}
	@media (min-width: 935px) {
		float: left;
		margin-left: 20px;
	}
}

/* Footer Links
----------------------------------------------------*/
.footer-links {
	padding-top: 10px;
	font-size: 16px;
}
.footer-links .col {
	float: left;
	width: 47%;
	margin-right: 3%;
	@media (min-width: $break-small) {
		width: 30%;
	}
}
.footer-links li a {
	background-color: transparent;
	display: block;
	border-radius: 3px;
	padding: 7px 10px;
	transition: background-color .1s ease-in-out;
	&:hover, &:focus {
		background-color: darken($green, 3%);
	}
}
.footer-links .connect {
	color: #fff;
	font-family: $body-font;
	font-size: 16px;
	padding: 7px 10px;
	line-height: 1.6;
	margin: 0;
	text-transform: uppercase;
}
.footer-links .social img {
	display: inline-block;
	height: 21px;
	width: 18px;
	vertical-align: text-bottom;
	margin-right: .4em;
}


/* copyright
----------------------------------------------------*/
.copy {
	color: #eee;
	font-size: 14px;
	margin: 3em 0 0;
	padding: 1em;
	background-color: darken($green, 2%);
	& p {
		margin: 0;
	}
}
.copy .rights {
	line-height: 2;
	@media (min-width: $break-medium) {
		float: left;
		width: 50%;
	}
}


/* Mailchimp Newsletter
----------------------------------------------------*/
.newsletter {
	@media (min-width: $break-medium) {
		float: right;
		width: 50%;
	}
}
#mc_embed_signup {
	background-color: transparent;
}
#mc_embed_signup form {
	display:block;
	position:relative;
	text-align:left;
}
#mc_embed_signup h2 {
	color: #eee;
	padding:0;
	margin: 0;
	font-size:15px;
	font-family: $body-font;

	line-height: 30px;
	@media (min-width: $break-medium) {
		float: left;
		width: 18%;
	}
}
#mc_embed_signup input {
	border: 1px solid #0c5020;
	border-radius: 1px;
}
#mc_embed_signup .mc-submit {
	float: left;
	width: 30%;
   margin-left: 2%;
}

#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #0c5020; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: normal; height: 30px; line-height: 30px; margin: 0 5px 0px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: 100%;}
#mc_embed_signup .button:hover {background-color:#0a421a;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {
	position:relative;
	width: 50%;
	float: left;
}
#mc_embed_signup .size1of2 {
	clear:none;
	float:left;
	display:inline-block;
	width:46%;
	margin-right:4%;
}
#mc_embed_signup .size1of3 {
	clear:none;
	float:left;
	display:inline-block;
	width:30%;
	margin-right:3%;
}
#mc_embed_signup .mc-field-group label {
	display:block;
}
#mc_embed_signup .mc-field-group input {
	display:block;
	font-size: 14px;
	width:100%;
	padding:3px 0;
	text-indent:2%;
}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}
