.header {
	background: $green;
	// box-shadow: 0 2px 2px rgba(0,0,0,.1);
	padding: .5em 0;
	position: relative;
	z-index: 110;
}
.logo {
	display: block;
	float: left;
}
.logo img {
	display: block;
	width: auto;
}


/* Search
----------------------------------------------------*/
.searchform {
	float: right;
	margin-right: 23px;
}
.searchform .search-input {
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.2);
	border: 1px solid darken($green, 2%);
	border-radius: 2px;
	font-size: 16px;
	width: 200px;
}
.search-btn {

}