.header {
	background: $black;
	// box-shadow: 0 2px 2px rgba(0,0,0,.1);
	padding: .75em 0;
	position: relative;
	z-index: 110;
}
.logo {
    display: block;
    max-width: 230px;
	@media (min-width: $break-large) {
        margin: 0 auto;
        max-width: 260px;
	}
}
.logo img {
	display: block;
	width: auto;
}

