.hero {
	background-color: #eee;
}
.hero-top {
	position: relative;
	height: 500px;
	overflow: hidden;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.hero-top:after {
	content:'';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	z-index: 50;
}
.hero-content {
	padding-top: 3em;
	position: relative;
	z-index: 100;
}
.hero-title {
	color: #fff;
	font-size: 75px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.hero-copy {
	color: #fff;
	font-style: italic;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.hero-btn {
	background-color: #fff;
	display: inline-block;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	&:hover, &:focus {
		color: #333;
		background-color: #eee;
		text-decoration: none;
	}
}

/* Hero Bottom
----------------------------------------------------*/
.hero-bot {
	background-color: #eee;
	padding: 1.5em 0;
}
.hero-nav {
	float: left;
	width: 64%;
	margin-top: -50px;
	position: relative;
	z-index: 100;
}
.hero-nav li {
	float: left;
	padding: 0 10px;
   width: 33.333333%;
}
.hero-nav a {
	display: block;
	color: #333;
	font-size: 14px;
	text-decoration: none;
	& img {
		border: 3px solid #fff;
		box-shadow: 2px 2px 2px rgba(0,0,0,.1);
		display: block;
		margin-bottom: 5px;
		position: relative;
		width: 100%;
	}
}


/* Hero Overview
----------------------------------------------------*/
.hero-overview {
	float: right;
	width: 34%;
}
.hero-overview-copy {
	font-size: 16px;
	margin: 0;
	font-style: italic;
}
.hero-overview-link {
	color: #333;
	display: inline-block;
	font-size: 18px;
	margin-top: 10px;
	letter-spacing: 0.05em;
	padding: 6px 43px 8px 0;
	position: relative;
}
.hero-overview-link .link:before {
	background: url(../images/chevronright.png) no-repeat 0 0;
	background-size: 90%;
	content: "";
	display: inline-block;
	position: absolute;
	top: 14px;
	right: 7px;
	z-index: 1;
	width: 16px;
	height: 16px;
}
.hero-overview-link .link:after {
	width: 24px;
	height: 24px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s;
	transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s;
	position: absolute;
	top: 9px;
	right: 5px;
	background-image: none;
	border: 1px solid $link;
	content: "";
	display: inline-block;
	text-align: center;
}
.hero-overview-link:hover .link:after,
.hero-overview-link:focus .link:after {
	box-shadow: inset 0 0 0 18px $link;
}
.hero-overview-link:hover .link:before,
.hero-overview-link:focus .link:before {
	background-position: 0 -14px;
}


/* ---------------------------------------------------------------
Iniatives / Programs
--------------------------------------------------------------- */
.program-container {

}
.program-intro {
	padding: 5.5em 0;
}
.program-intro h3 {
	border-left: 1px solid #ccc;
	font-size: 44px;
	line-height: 1.2;
	font-weight: normal;
	padding: 0 2em 0 1.5em;
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	float: left;
	width: 50%;
}
.program-intro p {
	margin: 0;
	float: left;
	font-size: 19px;
	width: 50%;
}
.program-list {
	margin-bottom: 2em;
}
.program-list .justify-item {
	width: 100%;
	@media screen and (min-width: $break-small) {
		width: 47%;
	}
	@media screen and (min-width: $break-medium) {
		width: 28%;
	}
}
.program-list a {
	color: #444;
	display: block;
	text-decoration: none;
}
.program-top {
	position: relative;
}
.program-top img {
	display: block;
	width: 100%;
}
.program-top h4 {
	background-color: $green;
	color: #fff;
	padding: 10px 10px;
	font-size: 16px;
	font-family: $body-font;
	font-weight: normal;
	position: absolute;
	left: 10px;
	bottom: 10px;
	margin: 0;
}
.program-bot {
	position: relative;
}
.program-bot p {
	font-size: 15px;
	color: #666;
	margin: .75em 0;
	padding-right: 45px;
	position: relative;
}

.program-bot .diamond {
	position: absolute;
	top: 10px;
	right: 0;
}
.program-bot .diamond:before {
    background: url(../images/chevronright.png) no-repeat 0 0;
    background-size: 90%;
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 7px;
    z-index: 1;
    width: 16px;
    height: 16px;
}
.program-bot .diamond:after {
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s;
    transition: background-color .25s linear 0s,border-color .25s linear 0s,box-shadow .25s linear 0s,color .25s linear 0s,opacity .25s linear 0s;
    position: absolute;
    top: 4px;
    right: 5px;
    background-image: none;
    border: 1px solid $link;
    content: "";
    display: inline-block;
    text-align: center;
}
.program-list a:hover .diamond:after,
.program-list a:focus .diamond:after {
	box-shadow: inset 0 0 0 18px $link;
}
.program-list a:hover .diamond:before,
.program-list a:focus .diamond:before {
	background-position: 0 -14px;
}


.program-list a:hover .initiative-img .scale,
.program-list a:focus .initiative-img .scale {
	transform: scale(1.03);
}
.program-list a:hover .initiative-img:after,
.program-list a:focus .initiative-img:after {
	opacity: .12;
}



/* ---------------------------------------------------------------
News / Events
--------------------------------------------------------------- */
.home-newsevents {
	background: #fafafa url(../images/whitediamond.jpg) center top;
	border-top: 1px solid #ddd;
	padding: 6em 0 3em;
}
.home-events {
	@media (min-width: $break-medium) {
		padding-right: 1em;
	}
}
.home-news {
	@media (min-width: $break-medium) {
		padding-left: 1em;
	}
}
.home-events h3,
.home-news h3 {
	font-size: 42px;
	margin-top: 0;
}
.home-events h3 a,
.home-news h3 a {
	float: right;
	font-size: 14px;
	font-weight: normal;
	margin-top: 15px;
}
.home-news li a {
	display: block;
	text-decoration: none;
}
.home-news li {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
}
.home-news .title {
	font-size: 20px;
	font-family: $body-font;
	margin: 0 0 5px 0;
}
.home-news .date {
	color: #666;
	font-size: 14px;
}




.more-programs {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
  .show-more & {
    max-height: 500px;
  }
}

.more-link {
	margin-bottom: -24px;
	text-transform: uppercase;
	box-shadow: 3px 4px 0 rgba(0,0,0,0.1);
   border: none;
	&:hover {

	}
	&:after {
		content: "show more programs [+]";
		.show-more & {
			content: "show less [-]";
		}
	}
}