.hero {
	background-color: #eee;
}
.hero-top {
	position: relative;
	height: 500px;
	overflow: hidden;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.hero-top:after {
	content:'';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	z-index: 50;
}
.hero-content {
	padding-top: 3em;
	position: relative;
	z-index: 100;
}
.hero-title {
	color: #fff;
	font-size: 75px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.hero-copy {
	color: #fff;
	font-style: italic;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.hero-btn {
	background-color: #fff;
	display: inline-block;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	&:hover, &:focus {
		color: #333;
		background-color: #eee;
		text-decoration: none;
	}
}

/* Hero Bottom
----------------------------------------------------*/
.hero-bot {
	background-color: #eee;
	padding: 1.2em 0;
}
.hero-nav {
	float: left;
	width: 64%;
	margin-top: -40px;
	position: relative;
	z-index: 100;
}
.hero-nav li {
	float: left;
	padding: 0 10px;
   width: 33.333333%;
}
.hero-nav a {
	display: block;
	color: #333;
	font-size: 14px;
	text-decoration: none;

	& img {
		border: 3px solid #fff;
		box-shadow: 2px 2px 2px rgba(0,0,0,.1);
		display: block;
		margin-bottom: 5px;
		position: relative;
		width: 100%;
	}
}

/* Hero Overview
----------------------------------------------------*/
.hero-overview {
	float: right;
	width: 34%;
}
.hero-overview-copy {
	font-size: 16px;
	margin: 0;
	font-style: italic;
}
.hero-overview-link {
	color: #333;
	display: block;
	font-size: 18px;
	margin-top: 10px;
}


/* ---------------------------------------------------------------
Iniatives / Programs
--------------------------------------------------------------- */
.program-container {

}
.program-intro {
	padding: 5.5em 0;
}
.program-intro h3 {
	border-left: 1px solid #ccc;
	font-size: 44px;
	line-height: 1.2;
	font-weight: normal;
	padding: 0 2em 0 1.5em;
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	float: left;
	width: 50%;
}
.program-intro p {
	margin: 0;
	float: left;
	font-size: 19px;
	width: 50%;
}
.program-list {
	margin-bottom: 4em;
}
.program-list .justify-item {
	width: 47%;
	@media screen and (min-width: $break-medium) {
		width: 28%;
	}
}
.program-list a {
	color: #444;
	text-decoration: none;
}
.program-top {
	position: relative;
}
.program-top img {
	display: block;
	width: 100%;
}
.program-top h4 {
	background-color: $green;
	color: #fff;
	padding: 5px 10px;
	font-size: 17px;
	font-family: $body-font;
	font-weight: normal;
	position: absolute;
	left: 10px;
	bottom: 10px;
	margin: 0;
}
.program-bot {
	position: relative;
}
.program-bot p {
	font-size: 15px;
	color: #666;
	line-height: 1.4;
	margin: .5em 0;
	padding-right: 55px;
	position: relative;
}
.program-bot span {
	position: absolute;
	right: 5px;
	top: 20px;
	width: 25px;
	height: 25px;
	font-size: 23px;
	font-weight: bold;
	background-color: #fff;
	line-height: 21px;
	text-align: center;
	color: #333;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid $green;
		transform: rotate(45deg);
	}
}

/* ---------------------------------------------------------------
News / Events
--------------------------------------------------------------- */
.home-newsevents {
	background-color: #eee;
	border-top: 1px solid #ddd;
	padding: 4em 0;
}
.home-events h3,
.home-news h3 {
	font-size: 42px;
	margin-top: 0;
}
.home-news li a {
	display: block;
	text-decoration: none;
}
.home-news li {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
}
.home-news .title {
	font-size: 20px;
	font-family: $body-font;
	margin: 0 0 5px 0;
}
.home-news .date {
	color: #666;
	font-size: 14px;
}

