.nav-wrapper {
	clear: right;
	float: right;
	margin-top: .5em;
	position: relative;
	z-index: 1;
}
.main-nav {
	text-align: center;
}
.main-nav > li {
	float: left;
	position: relative;
}

/* first descendant link within a top level navigation item */
.main-nav > li > a {
	color: #eee;
	display: block;
	font-size: 25px;
	letter-spacing: 1px;
	padding: 2px 24px;
	font-family: $heading-font;
	position: relative;
	transition: none;
	z-index: 2;
}

/* hover */
.main-nav > li:not(.parent):hover > a {
	color: #444;
	&:after {
		content: "";
	}
}
.main-nav > li.parent:hover > a {
	background-color: #fff;
	color: #444;
	box-shadow:
		inset 4px 0 0 #125822,
		inset 0 1px 0 #ddd,
		inset -1px 0 0 #ddd;
	&:after {
		background-color: #fff;
		display: block;
		width: calc(100% - 5px);
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 4px;
		content: "";
	}
}

/* second level nav panel
----------------------------------------------------*/
.main-nav .sub-nav {
	// border-top: 4px solid $link;
	background-color: #fff;
	position: absolute;
	left: -9999px;
	top: 100%;
	min-width: 250px;
	list-style: none;
	opacity: 0;
	// transition: opacity .25s .1s,visibility .25s .1s;
	box-shadow:
		inset 4px 0 0 #125822,
		inset 0 1px 0 #ddd,
		inset -1px 0 0 #ddd,
		inset 0 -1px 0 #ddd,
		4px 4px 0 0 rgba(112,111,109,.1);
   margin-top: -1px;
   visibility: hidden;
   padding: 18px 24px;
   z-index: 1;
}
.main-nav li:hover .sub-nav,
.main-nav li:focus .sub-nav,
.main-nav .sub-nav.show-menu {
	left: 0;
	opacity: 1;
	visibility: visible;
}
/* transparent background padding */
// .sub-nav:after {
// 	content: '';
// 	background-color: transparent;
// 	position: absolute;
// 	width: 102%;
// 	height: 104%;
// 	top: 0;
// 	left: -1%;
// 	z-index: -1;
// }


/* second level nav link styles
----------------------------------------------------*/
.sub-nav li {
	border-bottom: 1px solid #eee;
	float: none;
	position: static;
}
.sub-navul li:before,
.main-nav ul li.last:after {
	display: none;
}
.sub-nav ul li:first-of-type {
	border-top: none;
}
.sub-nav li a {
	color: #444;
	float: none;
	display: block;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 1.3;
	padding: 12px 0;
	text-align: left;
	text-transform: none;
	transition: padding .1s ease-in-out;
	&:hover, &:focus {
		color: $link;
		padding-left: 2px;
	}
}




