/* ---------------------------------------------------------------

--------------------------------------------------------------- */
.newscard {
	padding: 1.5em 1px 1.8em;
	border-top: 1px solid #ddd;
}
.newscard-title {
	margin-top: 0;
	margin-bottom: 10px;
}
.newscard-meta,
.entry-meta {
	color: #666;
	font-size: 15px;
	margin: 0 0 10px;
}
.newscard-meta .author {
	font-style: italic;
}
.newscard-summary {
	margin: 5px 0 0;
}
.newscard .bar,
.entry-meta .bar {
	padding: 0 5px;
}
.newscard-featured {
	border: 3px solid #fff;
	box-shadow: 0 0 1px #888;
}

/* ---------------------------------------------------------------

--------------------------------------------------------------- */











/* ---------------------------------------------------------------

--------------------------------------------------------------- */