/* ---------------------------------------------------------------
Subnavigation
--------------------------------------------------------------- */
.subnavigation {
	padding: 1em;
	margin-bottom: 3em;
	@media (min-width: $break-large) {
		padding: 0;
	}
}
.subnavigation .section-title {
	margin: 0;
   font-size: 23px;
	& a {
		display: block;
	}
	@media (min-width: $break-large) {
		font-size: 34px;
		padding: 0 0 .5em 0;
	}
}
.subnavigation .first-level {
	@media (min-width: $break-large) {
		border-left: 4px solid #eee;
	}
}
.subnavigation li a {
	background-color: transparent;
	display: block;
	font-size: 16px;
	color: #666;
	padding: 12px 0;
	border-bottom: 1px solid #ddd;
	transition: .2s ease-in-out;
	&:hover, &:focus {
		background-color: #f8f8f8;
		border-left-color: $link;
		color: $link;
	}
	@media (min-width: $break-large) {
		border-bottom: none;
		border-left: 4px solid #eee;
		margin-left: -4px;
		padding: 12px 20px;
		text-transform: uppercase;
	}
}

/* Current link styles
----------------------------------------------------*/
.subnavigation li.current {
	background: #f8f8f8;
	& > a {
		border-left-color: $link;
		color: $link;
	}
}
.subnavigation li.section {
	background: #f8f8f8;
}

/* Second level links
----------------------------------------------------*/
.subnavigation .second-level {
	border-bottom: 1px solid #eee;
}
.subnavigation .second-level > li > a {
	border-top: 1px solid #eee;
	color: #666;
	font-size: 15px;
	font-weight: normal;
	padding: 10px 20px 10px 35px;
	text-transform: none;
	&:before {
		content: '- ';
	}
	&:hover, &:focus {
		background: #eee;
		color: $link;
	}
}
.subnavigation .second-level li.current,
.subnavigation .second-level li.section {
	background: #eee;
}

/* Second level current link styles
----------------------------------------------------*/
.subnavigation .second-level li.current > a {
	background-color: #eee;
	color: $link;
	font-weight: bold;
}


/* Third level links
----------------------------------------------------*/
.subnavigation .third-level {

}
.subnavigation .third-level li > a {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	padding-left: 55px;
	text-transform: none;
	&:hover, &:focus {
		background-color: #e4e4e4;
	}
}
/* Third level current link styles
----------------------------------------------------*/
.subnavigation .third-level li.current > a {
	background-color: #e4e4e4;
}


