/* ---------------------------------------------------------------
Staff Holder Page
--------------------------------------------------------------- */
.staffholder a {
	display: block;
}
.staffholder a:hover .title,
.staffholder a:focus .title {
	text-decoration: underline;
}
.staffholder .title {
	color: $link;
	font-size: 23px;
	margin: 10px 0 1px;
	text-decoration: none;
}
.staffholder .position {
	color: #666;
	display: block;
	font-size: 16px;
}
.staffholder .justify-item {
	margin-bottom: 2em;
}
.staff-prevnext {
	background: #f4f4f4;
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 2em 0 2.5em;
}
.staff-prevnext img {
	border: 3px solid #fafafa;
	border-radius: 50%;
	vertical-align: middle;
	margin: 0 10px;
	transition: border .3s ease-in-out;
}
.staff-prevnext .link:hover img {
	border-color: $link;
}
.staff-prevnext-name {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.staff-prevnext .prev {
	float: left;
}
.staff-prevnext .next {
	float: right;
}
.staff-prevnext .arrows {
	font-size: 30px;
	vertical-align: middle;
	position: relative;
	transition: .2s;
}

.staff-prevnext .prev .arrows {
	left: 0;
}
.staff-prevnext .prev:hover .arrows {
	left: -5px;
}

.staff-prevnext .next .arrows {
	right: 0;
}
.staff-prevnext .next:hover .arrows {
	right: -5px;
}

.staff-prevnext .link:hover .title {
	text-decoration: underline;
}
.staff-prevnext-name .position {
	display: block;
	font-size: 14px;
	color: #666;
	font-style: italic;
}
.next .staff-prevnext-name .position {
	text-align: right;
}

/* ---------------------------------------------------------------
Staff Member Page
--------------------------------------------------------------- */

.staffbio p:first-of-type {
	margin-top: 0;
}

/* image, position, email, & phone number
----------------------------------------------------*/
.staffimg {
	float: right;
	margin: 0 0 1em 1em;
	width: 45%;
	& img {
		display: block;
		width: 100%;
	}
}
.staffmeta {
	border-bottom: 3px solid #eee;
	margin-bottom: 1em;
	padding: 0 0 1em 0;
	& p {
		margin: .5em 0;
	}
}
.staffmember .details {
	background: rgba(0,0,0,.04);
	font-size: 15px;
	list-style: none;
	margin: 30px 0;
	padding: 20px;
	& li {
		padding: 5px 0;
	}
	@media (min-width: $break-medium) {
		margin-left: -30px;
		padding-left: 30px;
	}
}
.staffmember .details strong {
	@media (min-width: $break-small) and (max-width: $break-medium - 1) {
		display: block;
	}
}