/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #176e2b;
$green: #176e2b;

/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 19;
$base-font-size: 19px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "myriad-pro-condensed",sans-serif;
$body-font: "myriad-pro",sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;
$break-xlarge: 1200px;