/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #00558C;
$green: #176e2b;
$black: #151515;
$gold: #FFCD00;

/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 19;
$base-font-size: 19px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;
$break-xlarge: 1200px;